html, body, #out {
    width: 100%;
    height: 100%;
}

body {
    background: #1b2a4e;
    color: white;
    font-family: Inter, Arial, sans-serif;
}

#avalonia-splash {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.splash-close {
    animation: fadeout 0.25s linear forwards;
    pointer-events: none;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
